DATABASE_URL="postgresql://neondb_owner:npg_l3yLAogVbS4v@ep-raspy-feather-adhmnt53-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3BlY2lhbC1veC0yNC5jbGVyay5hY2NvdW50cy5kZXYk

EXPO_PUBLIC_SENTRY_DSN=your_sentry_dsn
SENTRY_AUTH_TOKEN=your_sentry_auth_token